body{
    margin: 0;
    padding: 0;
    background-color: #FCEBCD;
}

.titulo{
    text-align: center;
    color: rgb(77, 214, 64);
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Calculadora{
    background-color: #f4f4f4;
    width: 1250px;
    height: 700px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    outline: 1px solid black;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.Container{
    margin-left: 5px;
    outline: 2px;
}

.input{
    outline: 1px solid rgb(53, 161, 31);
}

.Texto{
    font-size: medium;
    font-weight: bold;
}

.botão{
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.Resultado{
    font-size: 15px;
    margin-left: 5px;
}